body {
  background-color: #3B2667;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
}

#card {
  width: 317.2px;
  height: 200px;
  font-family: 'PT Mono', monospace;
}

.card {
  border-radius: 10px;
  color: white;
}

.front {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.back {
  background-color: #8BC6EC;
  background-image: linear-gradient(195deg, #8BC6EC 0%, #9599E2 100%);
}

#expiry {
  position: absolute;
  bottom: 10px;
  right: 35px;
}

#name {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

#number {
  position: absolute;
  bottom: 50px;
  left: 15px;
}

#ctype {
    position: absolute;
    height: 80px;
    right: 10px;
    top: -5px;
}

#chip {
    height: 60px;
    position: absolute;
    top: 30px;
    left: 10px;
}

.signature {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 210px;
    background-image: linear-gradient( 90deg,  rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% );
    text-align: right;
    padding: 0 10px;
}

.bar {
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgb(18,18,18);
    top: 10px;
}

input, select {
    font-family: 'Roboto';
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
}

div#form-main {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    width: 850px;
    margin-top: 110px;
    padding-top: 170px;
}

.form-field {
    margin: 0 10px;
    display: inline-grid;
    font-family: 'Roboto';
    color: gray;
}

.form-name {
  width: 68.5%;
}

.fcvv {
  width: 25.4%;
}

.fnum {
  width: 97.7%;
}

.row {
    width: 100%;
    margin: 20px 0;
}

.expiry {
    display: inline-flex;
    margin: 0 10px;
    font-family: 'Roboto';
    color: gray;
    margin-top: 15px;
}

#divider {
    font-size: 35px;
    color: rgb(135,135,135);
}

div#card-wrapper {
    position: relative;
    height: 0;
    margin: auto;
    width: 312.5;
    z-index: 1;
}

h1#payment-price {
    font-family: 'Ubuntu';
    text-align: center;
}

.payment-info {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 100px;
}

input#submit-btn {
    width: 53%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 85px;
    border-radius: 0;
    border: none;
    font-size: 30px;
    font-family: 'Roboto';
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    color: white;
    background-size: 200%;
    transition: 0.75s;
}

#submit-btn:hover {
  cursor: pointer;
  background-position: right center;
}
